SECRET_KEY=your-secret-key-here
DATABASE_URL=postgresql://postgres.xofsskuikuzgmsulqhrh:CHANGE_ME@aws-1-sa-east-1.pooler.supabase.com:6543/postgres
DB_ENGINE=django.db.backends.postgresql
DB_HOST=aws-1-sa-east-1.pooler.supabase.com
DB_NAME=postgres
DB_PASSWORD=CHANGE_ME
DB_PORT=6543
DB_USER=postgres.xofsskuikuzgmsulqhrh
