{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ site_title|default:_("Django site admin") }} | Financeiro Murano{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/admin.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap"
    rel="stylesheet"
  />
{% endblock %}

{% block branding %}
  <h1 id="site-name">
    <span class="admin-brand">Financeiro Murano</span>
  </h1>
{% endblock %}
